@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-body text-text-main;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}
